.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 80px;
}
.item{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    
    transition: all 0.25s;
}
.item:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}
@media(max-width:1591px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:1005px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media(max-width:550px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}